{{ $incidents := where .Site.RegularPages "Params.section" "issue" }}
{{ $active := where $incidents "Params.resolved" "=" false }}

{{ $isNotice := where $active "Params.severity" "=" "notice" }}
{{ $isDisrupted := where $active "Params.severity" "=" "disrupted" }}
{{ $isDown := where $active "Params.severity" "=" "down" }}

<div class="article">
  <span class="marker">
    {{ .Params.severity }}
  </span>
  &nbsp;
  <small class="date">
    {{ .Date.Format "January 02, 2006 at 3:04 PM" }}
  </small>
  &nbsp;
  {{ if .Params.Resolved }}
    <span class="ok">✓</span>
  {{ end }}


  <h3>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h3>

  <hr>

  {{ .Content }}
</div>
