{{ $incidents := where .Site.RegularPages "Params.section" "issue" }}
{{ $active := where $incidents "Params.resolved" "=" false }}

{{ $isNotice := where $active "Params.severity" "=" "notice" }}
{{ $isDisrupted := where $active "Params.severity" "=" "disrupted" }}
{{ $isDown := where $active "Params.severity" "=" "down" }}

<a href="{{ .Permalink }}" class="issue no-underline">
  {{ if .Params.informational }}

  <small class="date float-right {{ cond .Site.Params.useRelativeTime "relative-time" "" }}" title="{{ dateFormat .Site.Params.dateFormat .Params.date }}" data-date="{{ .Date.Format "Jan 2 15:04:05 2006 UTC" }}">
      {{ if .Site.Params.dateFormat }}
        {{ dateFormat .Site.Params.dateFormat .Params.date }}
      {{ else }}
        {{ .Date.Format "January 2, 2006 at 3:04 PM" }}
      {{ end }}
    </small>

    <h3>
      {{ .Title }} &nbsp;ℹ
    </h3>
    <span class="faded">{{ .Summary | truncate 200 }}
    </span>

  {{ else if .Params.Resolved }}
  <small class="date float-right {{ cond .Site.Params.useRelativeTime "relative-time" "" }}" title="{{ dateFormat .Site.Params.dateFormat .Params.date }}" data-date="{{ .Date.Format "Jan 2 15:04:05 2006 UTC" }}">
      {{ if .Site.Params.dateFormat }}
        {{ dateFormat .Site.Params.dateFormat .Params.date }}
      {{ else }}
        {{ .Date.Format "January 2, 2006 at 3:04 PM" }}
      {{ end }}
    </small>

    <h3>
      {{ .Title }}
    </h3>

    {{ $t := (time .Params.ResolvedWhen) }}
    {{ $timeDiff := (sub $t.Unix .Date.Unix) }}
    {{ $diffInMin := (div $timeDiff 60) }}

    <!-- Marker -->
    {{ if lt $timeDiff 60 }}
    <div class="faded">
      {{ T "resolved" }} {{ T "inUnderAMinute" }}
    </div>
    {{ else }}
      {{ if gt $timeDiff 3600 }}
        <div class="warning">
          {{ T "resolvedAfter" }}

          {{ $minutesForCalc := (mod $diffInMin 60) }}

          {{ div (sub $diffInMin $minutesForCalc) 60 }}h
          {{ $minutesForCalc }}m
          {{ if eq .Params.severity "down" }}
            {{ T "ofDowntime" }}
          {{ end }}
        </div>
      {{ else }}
        <div class="ok">
          {{ T "resolvedAfter" }}

          {{ $secsForCalc := (mod $timeDiff 60) }}

          {{ div (sub $timeDiff $secsForCalc) 60 }}m
          {{ if eq .Params.severity "down" }}
          <!-- {{ $secsForCalc }}s --> {{ T "ofDowntime" }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}

  {{ else }}
  <!-- If not resolved -->
    <small class="date float-right {{ cond .Site.Params.useRelativeTime "relative-time" "" }}" title="{{ dateFormat .Site.Params.dateFormat .Params.date }}" data-date="{{ .Date.Format "Jan 2 15:04:05 2006 UTC" }}">
        
      {{ if .Date.Before now }}
        {{ if .Site.Params.dateFormat }}
          {{ dateFormat .Site.Params.dateFormat .Params.date }}
        {{ else }}
          {{ .Date.Format "January 2, 2006 at 3:04 PM" }}
        {{ end }}
      {{ else }}
      {{ end }}
    </small>

    <h3>
      {{ .Title }}
    </h3>



    <!-- Marker -->
    {{ if eq .Params.severity "notice" }}
      <strong class="error">
        ◆
        {{ if .Date.Before now }}
          {{ T "downtimeOngoing" }}
        {{ else }}
          {{ if .Site.Params.dateFormat }}
            {{ dateFormat .Site.Params.dateFormat .Params.date }}
          {{ else }}
            {{ .Date.Format "January 2, 2006 at 3:04 PM" }}
          {{ end }}
        {{ end }}
      </strong>
    {{ else }}
    
      <strong class="error">
        {{ if eq .Params.severity "down" }}
        ■
        {{ else if eq .Params.severity "disrupted" }}
        ▲
        {{ else }}
        ◆
        {{ end }}
        {{ T "downtimeOngoing" }}
      </strong>
    {{ end }}

  {{ end }}
</a>
