{{- $page := .page -}}
{{- $includeBody := .includeBody | default false -}}
{{- $record := partial "records/normalize.html" $page -}}
{
  "is": {{ jsonify $record.type }},
  "recordType": {{ jsonify $record.type }},
  "kind": {{ jsonify $record.kind }},
  "title": {{ jsonify $page.Title }},
  "createdAt": {{ jsonify $page.Date }},
  "lastMod": {{ jsonify $page.Lastmod }},
  "permalink": {{ jsonify $page.Permalink }},
  "state": {{ jsonify $record.state }},
  "severity": {{ jsonify $record.severity }},
  "statusImpact": {{ jsonify $record.statusImpact }},
  "pin": {{ jsonify $record.isPinned }},
  "affected": {{ jsonify $record.affected }},
  "filename": {{ jsonify $page.File.LogicalName }},
  "summary": {{ jsonify ($page.Params.summary | default $page.Summary) }}{{ if $includeBody }},
  "body": {{ jsonify $page.Content }}{{ end }}
}
