{{ $incidents := where .Site.RegularPages "Params.section" "issue" }}
{{ $active := where $incidents "Params.resolved" "=" false }}

{{ $isNotice := where $active "Params.severity" "=" "notice" }}
{{ $isDisrupted := where $active "Params.severity" "=" "disrupted" }}
{{ $isDown := where $active "Params.severity" "=" "down" }}

<!-- Individual info -->
<div class="categories">
  {{ $systems := .Site.Params.systems }}
  {{ $categories := .Site.Params.categories }}

  <script>
  function toggleCategoryHead(el) {
    if (el.parentNode.className == 'category category--open') {
      el.parentNode.className = 'category category--closed';
    } else {
      el.parentNode.className = 'category category--open';
    }
  }
  </script>

  {{ range $categories }}
    <div class="category {{ if .closed }}category--closed{{ else }}category--open{{ end }}" id="{{ .name | urlize }}">
      {{ if not .untitled }}
      <div class="bold padding clicky category__head" onclick="toggleCategoryHead(this)">
        <span class="hide-without-js">
          <span class="category__closed-marker">►</span>
          <span class="category__open-marker">✕</span>
        </span>

      <b>
        {{ .name }}
      </b>
      
      {{ with .description }}
        <span class="tooltip tooltip--small">
          &nbsp; <span class="faded">(?)</span>

          <span class="tooltip__text">
            {{ . }}
          </span>
        </span>
      {{ end }}

      </div>
      {{ else }}
      <div class="padding"></div>
      {{ end }}

      
      {{ $categorySystems := where $systems "category" "=" .name }}

      <div class="components">
      {{ range $categorySystems }}
        <!-- New in v5 is this system of checking the status of a category -->
        <!-- It is case insensitive at the cost of lots of code -->
        {{ $caseInsensitiveSystemName := lower .name }} 
        
        <!-- Notice categories  -->
        {{ range $isNotice }} 
          {{ $allNoticeSystemsLowercaseRange := apply .Params.affected "lower" "." }}
          {{ $part := delimit $allNoticeSystemsLowercaseRange " " }} 
          {{ $.Scratch.Add "allNoticeSystemsLowercaseString" $part }}
        {{ end }}
        {{ $allNoticeComponents := $.Scratch.Get "allNoticeSystemsLowercaseString" }}
        {{ $.Scratch.Set "allNoticeSystemsLowercaseString" "" }}

        <!-- Disrupted categories  -->
        {{ range $isDisrupted }} 
          {{ $allDisruptedSystemsLowercaseRange := apply .Params.affected "lower" "." }}
          {{ $part := delimit $allDisruptedSystemsLowercaseRange " " }} 
          {{ $.Scratch.Add "allDisruptedSystemsLowercaseString" $part }}
        {{ end }}
        {{ $allDisruptedComponents := $.Scratch.Get "allDisruptedSystemsLowercaseString" }}
        {{ $.Scratch.Set "allDisruptedSystemsLowercaseString" "" }} 
        
        <!-- Down categories  -->
        {{ range $isDown }} 
          {{ $allDownSystemsLowercaseRange := apply .Params.affected "lower" "." }}
          {{ $part := delimit $allDownSystemsLowercaseRange " " }} 
          {{ $.Scratch.Add "allDownSystemsLowercaseString" $part }}
        {{ end }}
        {{ $allDownComponents := $.Scratch.Get "allDownSystemsLowercaseString" }}
        {{ $.Scratch.Set "allDownSystemsLowercaseString" "" }} 
 
        
        <!-- Now finally check -->
        {{ $thisIsNotice := in $allNoticeComponents $caseInsensitiveSystemName }}
        {{ $thisIsDisrupted := in $allDisruptedComponents $caseInsensitiveSystemName }}
        {{ $thisIsDown := in $allDownComponents $caseInsensitiveSystemName }}


        <div class="component" data-status="{{ if $thisIsDown }}down{{ else }}{{ if $thisIsDisrupted }}disrupted{{ else }}{{ if $thisIsNotice }}notice{{ else }}ok{{ end }}{{ end }}{{ end }}">
          <a href="{{ printf "/affected/%s/" (.name | urlize) | relURL }}" class="no-underline">
            {{ default .name .displayName }}
          </a>

          {{ with .description }}
            <span class="tooltip tooltip--small">
              &nbsp; <span class="faded">(?)</span>

              <span class="tooltip__text">
                {{ . }}
              </span>
            </span>
          {{ end }}

          <span class="component-status">
            {{ if $thisIsDown }}
              {{ T "thisIsDown" }}
            {{ else }}
            {{ if $thisIsDisrupted }}
              {{ T "thisIsDisrupted" }}
            {{ else }}
            {{ if $thisIsNotice }}
              {{ T "thisIsNotice" }}
            {{ else }}
              {{ T "thisIsOk" }}
            {{ end }}{{ end }}{{ end }}
          </span>

          {{ with .partial }}
          <div>
            {{ partial . . }}
          </div>
          {{ end }}
        </div>
      {{ end }}
      </div>
    </div>
  {{ end }}

</div>
