{{ $incidents := where .Site.RegularPages "Params.section" "issue" }}
{{ $active := where $incidents "Params.resolved" "=" false }}

{{ $isNotice := where $active "Params.severity" "=" "notice" }}
{{ $isDisrupted := where $active "Params.severity" "=" "disrupted" }}
{{ $isDown := where $active "Params.severity" "=" "down" }}

<div class="summary">
  <strong>
    {{ if $isDown }}
      {{ T "isDown" }}
    {{ else }}
    {{ if $isDisrupted }}
      {{ T "isDisrupted" }}
    {{ else }}
    {{ if $isNotice }}
      {{ T "isNotice" }}
    {{ else }}
      {{ T "isOk" }}
    {{ end }}{{ end }}{{ end }}
  </strong>

  <div class="summary__date clicky float-right relative-time" onclick="location.reload()" data-time-prefix="{{ T "lastChecked" }} "></div>
</div>
