{{ partial "meta" . }}
  <body class="default single {{ partial "body-class" . }}">
    <div class="contain">
      <a href="{{ .Site.BaseURL }}">← {{ T "goBack" }} <em>{{ .Site.Title }}</em></a>
      
      <div class="padding"></div>

      {{ if partial "records/is-section.html" .Section }}
        {{ $skin := .Site.Params.skin | default "classic" | urlize }}
        {{ $skinRecordArticle := printf "partials/skins/%s/records/article.html" $skin }}
        {{ if templates.Exists $skinRecordArticle }}
          {{ partial (printf "skins/%s/records/article.html" $skin) . }}
        {{ else }}
          {{ partial "records/article.html" . }}
        {{ end }}
      {{ else }}
        {{ .Content }}
      {{ end }}
    </div>

    {{ partial "js" . }}
    {{ partial "footer" . }}
  </body>
</html>
