<!--

This file can be used to add custom HTML
to your cState powered status page.

There's more files like this one. Check them out at:

https://github.com/cstate/cstate/wiki/Customization

-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
	rel="stylesheet">
<style>
	/* Example of custom CSS */
	html,
	body {
		font-family: 'DM Sans', sans-serif;
	}
</style>