{{- $skin := .Site.Params.skin | default "modern" | urlize -}}
{{- $skinFooter := printf "partials/skins/%s/footer.html" $skin -}}
{{- if templates.Exists $skinFooter -}}
  {{ partial (printf "skins/%s/footer.html" $skin) . }}
{{- else -}}
{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/above-footer" . }}
{{ end }}

<div class="footer">
  <div class="contain">
    <p><strong class="bold">&copy; {{ .Site.Title }}, {{ now.Year }}</strong>
       &nbsp; • &nbsp; <a href="#">{{ T "backToTop" }}</a>
    </p>

    <p>{{ .Site.Params.description | markdownify }}</p>

    <!-- Please keep this one around to help cState grow <3 -->
    <small class="footer__copyright faded">{{ T "poweredBy" }} <a href="https://github.com/cstate/cstate"><b>cState</b></a></small>

    {{ if not .Site.Params.disableIncidentHistory }}
      <hr>

      <p class="hinted">
        <small>
          ⚡
          {{ T "subscribe" }} —
          {{ with $.Site.Home.OutputFormats.Get "rss" }}
            <a href="{{ .Permalink }}" class="no-underline">{{ T "rss" }} {{ T "toAllUpdates" }}</a>
          {{ end }}
          {{ with $.Site.Home.OutputFormats.Get "atom" }}
            / <a href="{{ .Permalink }}" class="no-underline">{{ T "atom" }} {{ T "toAllUpdates" }}</a>
          {{ end }}
          {{ if not .IsHome }}
          {{ with .OutputFormats.Get "rss" }}
            {{ T "or" }} <a href="{{ .Permalink }}" class="no-underline">{{ T "rss" }} {{ T "onlyThisFeed" }} ({{ $.Title }})</a>
          {{ end }}
          {{ with .OutputFormats.Get "atom" }}
            / <a href="{{ .Permalink }}" class="no-underline">{{ T "atom" }} {{ T "onlyThisFeed" }} ({{ $.Title }})</a>
          {{ end }}
          {{ end }}
        </small>
      </p>
    {{ end }}
  </div>
</div>

{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/below-footer" . }}
{{ end }}
{{- end -}}
