{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/above-footer" . }}
{{ end }}

<div class="footer">
  <div class="contain">
    <p><strong>{{ now.Year }} &copy; {{ .Site.Title }}</strong>
       &nbsp; • &nbsp; <a href="#">{{ T "backToTop" }}</a>
       {{ with $.Site.Home.OutputFormats.Get "rss" -}}
       &nbsp; • &nbsp; {{ printf `<a href="%s">%s</a>` .Permalink (T "rssFeed") | safeHTML }}
       {{end -}}
       {{ if not .IsHome -}}
       {{ with .OutputFormats.Get "rss" -}}
         &nbsp; • &nbsp; {{ printf `<a href="%s">%s</a>` .Permalink (T "rssFeed") | safeHTML }}
         ({{with $.Title}}{{.}}{{end}})
       {{ end -}}
       {{ end -}}
    </p>

    <p>{{ .Site.Params.description }}</p>

    <!-- Please keep this one around to help cState grow <3 -->
    <small class="copyright faded">{{ T "poweredBy" }} <a href="https://github.com/cstate/cstate">cState</a></small>
  </div>
</div>

{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/below-footer" . }}
{{ end }}
