<script type="text/javascript">
  /**
   * Dev toolset
   */

  console.log('cState v4.4 - https://github.com/cstate/cstate');
  document.getElementsByTagName('html')[0].className = 'js';

  /**
   * Make theme color pretty
   */

  if (document.body.className === 'change-header-color') {
    if (document.body.className === 'status-down') {
      document.querySelector('meta[name=theme-color]').setAttribute('content', themeDownColor);
    } else if (document.body.className === 'status-disrupted') {
      document.querySelector('meta[name=theme-color]').setAttribute('content', themeDisruptedColor);
    } else {
      document.querySelector('meta[name=theme-color]').setAttribute('content', themeNoticeColor);
    }
  }

  /**
   * Admin redirect
   */

  if (window.location.hash.match('access_token')) {
    document.location.pathname = '/admin';
  }
  if (window.location.hash.match('invite_token')) {
    document.location.pathname = '/admin';
  }
  if (window.location.hash.match('confirmation_token')) {
    document.location.pathname = '/admin';
  }
  if (window.location.hash.match('email_change_token')) {
    document.location.pathname = '/admin';
  }
  if (window.location.hash.match('recovery_token')) {
    document.location.pathname = '/admin';
  }

  /**
   * Timer
   */

  function hasClass(element, className) {
    return (' ' + element.className + ' ').indexOf(' ' + className+ ' ') > -1;
  }

  if (hasClass(document.querySelector('body'), 'status-homepage')) {
    var lastUpdated = document.querySelector('.summary__date');
    lastUpdated.innerHTML = '{{ T "lastChecked" }} {{ T "justNow" }}';

    var lastUpdate = new Date();

    function timeSince(date) {
      var seconds = Math.floor((new Date() - date) / 1000);

      var interval = Math.floor(seconds / 31536000);

      if (interval > 1) {
        return interval + ' {{ T "yearsAgo" }}';
      }
      interval = Math.floor(seconds / 2592000);
      if (interval > 1) {
        return interval + ' {{ T "monthsAgo" }}';
      }
      interval = Math.floor(seconds / 86400);
      if (interval > 1) {
        return interval + '{{ T "daysAgo" }}';
      }
      interval = Math.floor(seconds / 3600);
      if (interval > 1) {
        return interval + '{{ T "hoursAgo" }}';
      }
      interval = Math.floor(seconds / 60);
      if (interval > 1) {
        return interval + ' {{ T "minsAgo" }}';
      }
      return Math.floor(seconds) + '{{ T "secondsAgo" }}';
    }
    var aDay = 24*60*60*1000;
  }

  window.setInterval(function() {
    if (hasClass(document.querySelector('body'), 'status-homepage')) {
      lastUpdated.innerHTML = '{{ T "lastChecked" }} ' + timeSince(lastUpdate) + ' {{ T "someTimeAgo" }}';

      // Refresh almost every 5m
      if (lastUpdate > 290000) {
        location.reload;
      }
    }
  }, 5000)
</script>

{{ if .Site.Params.useLocalTime }}
  <script type="text/javascript">
    var dates = document.getElementsByClassName('date');
    var options = {year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "2-digit"};

    for (var i = 0; i < dates.length; i++) {
      var el = dates.item(i);
      var date = new Date(Date.parse(el.textContent.trim()));
      el.textContent = date.toLocaleDateString(undefined, options);
    }
  </script>

  <script type="text/javascript">
    var dates = document.getElementsByClassName('short-date');
    var options = {month: "short", day: "numeric", hour: "numeric", minute: "2-digit"};

    for (var i = 0; i < dates.length; i++) {
      var el = dates.item(i);
      var date = new Date(Date.parse(el.textContent.trim()));
      el.textContent = "("+date.toLocaleDateString(undefined, options)+")";
    }
  </script>

  <script type="text/javascript">
{{ if eq .Site.Params.incidentHistoryFormat "yearly" }}
    function getAnchor(date) { return date.getFullYear().toString() }
    function getTitle(date) { return date.toLocaleDateString(undefined, {year: "numeric"}); }
{{ else }}
    function getAnchor(date) { return date.getFullYear().toString()+"-"+(date.getMonth() + 1).toString(); }
    function getTitle(date) { return date.toLocaleDateString(undefined, {year: "numeric", month: "long"}); }
{{ end }}

    var incidentContainer = document.getElementById('incidents');
    var template = incidentContainer.getElementsByClassName('page-template').item(0);

    var currentCategory = undefined;
    var currentCount = 0;
    var currentHeader = undefined;

    function cloneHeader(beforeElement, date) {
      var date = new Date(Date.parse(child.getAttribute("data-date")));

      var header = template.cloneNode(true);
      header.classList.remove("hidden");

      header.getElementsByClassName("page-date")[0].textContent = getTitle(date);

      var anchor = "archive-"+getAnchor(date);
      header.getElementsByClassName("page-anchor")[0].id = anchor;
      header.getElementsByClassName("page-link")[0].setAttribute("href", "#"+anchor);

      return header
    }

    for (var i = 0; i < incidentContainer.children.length; i++) {
      var child = incidentContainer.children.item(i);
      if (!child.classList.contains("issue")) {
        continue;
      }

      var date = new Date(Date.parse(child.getAttribute("data-date")));
      var category = getAnchor(date);

      if (currentCategory === undefined) {
        currentCategory = category;
        currentHeader = cloneHeader(child, date);

        // Increment "i" because we added an element to the incidentContainer
        child.insertAdjacentElement("beforebegin", currentHeader);
        i++;
      } else if (category !== currentCategory) {
        currentHeader.getElementsByClassName("page-count")[0].textContent = " ("+currentCount.toString()+")";

        currentCategory = category;
        currentCount = 0;
        currentHeader = cloneHeader(child, date);

        // Increment "i" because we added an element to the incidentContainer
        child.insertAdjacentElement("beforebegin", currentHeader);
        i++;
      }

      currentCount++;
    }

    currentHeader.getElementsByClassName("page-count")[0].textContent = " ("+currentCount.toString()+")";
  </script>
{{ end }}


{{ if ne .Site.Params.googleAnalytics "UA-00000000-1" }}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script type="text/javascript" defer src="https://www.googletagmanager.com/gtag/js?id=UA-109775664-1"></script>
  <script type="text/javascript" defer>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.googleAnalytics }}');
  </script>
{{ end }}
