{{ $allPosts := where .Site.RegularPages "Params.section" "issue" }}
{{ $allActive := where $allPosts "Params.resolved" "=" false }}
{{ $active := where $allActive "Params.pin" "!=" false }}
{{ $informationals := where $allPosts "Params.informational" "=" true }}
{{ $pinned := where $informationals "Params.pin" "=" true }}

{{ if or ($active) ($pinned) }}
  <div class="announcement-box announcement-box--modern">
    {{ range $active }}
      <article class="announcement-item">
        <div class="announcement-item__meta">
          {{ range .Params.Affected }}
            <a href="{{ printf "affected/%s/" (. | urlize) | relURL }}" class="tag no-underline">{{ . }}</a>
          {{ end }}
        </div>
        <h2 class="announcement-item__title">
          <a href="{{ .RelPermalink }}">{{ .Title }} →</a>
        </h2>
        <div class="announcement-item__body">
          {{ .Content | safeHTML | truncate 500 "…" }}
        </div>
      </article>
    {{ end }}

    {{ range $pinned }}
      {{ if .Params.informational }}
        <article class="announcement-item announcement-item--informational">
          <div class="announcement-item__meta">
            {{ range .Params.Affected }}
              <a href="{{ printf "affected/%s/" (. | urlize) | relURL }}" class="tag no-underline">{{ . }}</a>
            {{ end }}
          </div>
          <h2 class="announcement-item__title">
            <a href="{{ .RelPermalink }}">{{ .Title }} →</a>
          </h2>
          <div class="announcement-item__body">
            {{ .Content | safeHTML | truncate 500 "…" }}
          </div>
        </article>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
